extends base 
include _accountNav

block content
  .account
    +accountNavigation("MySettings")
    div(class="account__container")
      // Account Details
      // Settings
      div(class="account__details")
        form.form.form--big.form-user-data
          h1(class="form__title heading-primary--main") Your account settings
          div(class="form__group")
            input#name(type="text", class="form__input", value=`${user.name}`, required)
          div(class="form__group")
            input#email(type="email", class="form__input", value=`${user.email}`, required)
          div(class="form__group form__photo-upload")
            img(src=`${user.photo.startsWith('https://')? user.photo : `/img/users/${user.photo}`}`, alt=`${user.name}`, class="form__user-photo")
            input.form__upload(type='file', accept='image/*', id='photo', name='photo')
            label(for='photo') Choose new photo
          div(class="form__group")
            button.btn.btn-color.btn-color--mixed.btn--save-settings  Save Settings 
      // Password
      div(class="account__details")
        form.form.form--big.form-user-password
          h1(class="form__title heading-primary--main") Password Change
          div(class="form__group")
            input#password-current(type="password", class="form__input", placeholder="Current Password", required,minlength='8')
          div(class="form__group")
            input#password(type="password", class="form__input", placeholder="New Password", required, minlength='8')
          div(class="form__group")
            input#password-confirm(type="password", class="form__input", placeholder="Confirm New Password", required,minlength='8')
          div(class="form__group")
            button.btn.btn-color.btn-color--mixed.btn--save-password  Save Password 
