extends base
include _reviewCard

block content 
 .pdp
    div(class="pdp__img-box")
      div(class="pdp__img--primary")
        img(src=`${product.primaryImage}`, alt="Product Image")
      div(class="pdp__img--additional")
        each img in product.otherImages
          img(src=`${img}`, alt="Product Image")
    div(class="pdp__text-box")
      div(class="pdp__text-box-row")
        span(class="pdp__category")
          a.btn.btn-text.btn-text--sub-small(href="#")=product.type
        div(class="pdp__stars")
          .stars
            each star in [1, 2, 3, 4, 5]
              svg(class=`stars__star stars__star--${product.ratingsAverage >= star ? 'active' : 'inactive'}`, xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
          a.btn.btn-text.btn-text--sub(href="#")=`${product.ratingsQuantity} reviews` 
      p(class="pdp__title")=product.name
      div(class="pdp__options")
        if product.style.length
          span(class="pdp__options-name") Style:
          each style in product.style
            button.btn.btn-color.btn-color--outlined=style
        if product.color.length
          span(class="pdp__options-name") Color:
          each color in product.color
            button.btn.btn-color.btn-color--outlined=color
      div(class="pdp__features")
        span(class="pdp__features-title") Features:
        ul(class="pdp__features-list")
          each feature in product.features
            li=feature
      div(class="pdp__prices")
        if product.priceDiscount
          span(class="pdp__prices--prev")=`$${product.price}`
          span(class="pdp__prices--current")=`$${(product.price-product.priceDiscount).toFixed(2)}`
        else 
          span(class="pdp__prices--current")=`$${product.price}`
      div(class="pdp__btns")
        button.btn.btn-color.btn-color--mixed Add To Cart
        button.btn.btn-icon
          svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
            path(stroke-linecap="round", stroke-linejoin="round", d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z")
    div(class="pdp__reviews-box")
      ul(class="pdp__reviews-list")
        each review in product.reviews
          +reviewCard(review)
      button(class="pdp__reviews-btn btn btn-color btn-color--mixed")
        | Write Review
      form(action="submit", class="pdp__reviews-form form form--big")
        div(class="form__group")
          textarea#feature1(rows="4", class="form__textarea form__textarea--big", placeholder="Diid you like “French Fries” costume?", required)
        div(class="form__group")
          div(class="stars form__stars")
            button.btn
              svg(class="stars__star stars__star--inactive" xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
            button.btn
              svg(class="stars__star stars__star--inactive" xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
            button.btn
              svg(class="stars__star stars__star--inactive" xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
            button.btn
              svg(class="stars__star stars__star--inactive" xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
            button.btn
              svg(class="stars__star stars__star--inactive" xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z")
        div(class="form__group")
          a.btn.btn-color.btn-color--mixed Send Review